<!--<div id="posts-grid">-->
    <div class="card-div">
        {{log this}}
        <img class="card-img" src="/{{this.thumbnail}}">
        <p class="card-title">{{this.title}}</p>
        <a class="card-link" href="/posts/{{this.id}}">Watch video</a>
    </div>


<!--</div>-->