<nav id="navigation-bar">
    <!--<Label for="navigation-bar">Pages:</Label> -->
    <ul id="nav-options">
        <li><a href="/">Home</a></li>
        {{#if isLoggedIn}} <!-- if not logged in, show the log in button -->

        {{else}}
            <li><a href="/login">Log in</a></li>
        {{/if}}
        <!-- <li><a href="../html/login.html">Log in</a></li> -->
        <li><a href="/postvideo">Post Video</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/registration">Register</a></li>
        <li><a href="/viewpost">View Posts</a></li>
    </ul>
    <!-- log this}} prints context object (in this case it's res.locals.isLoggedIn -->


</nav>