<li class="profile-post">
    <video class="profile-video" controls>
        <source src="/{{this.video}}" type="video/mp4">
    </video>
    <div class="profile-post-controls">
        <h4>{{this.title}}</h4>
        <p>{{this.createdAt}}</p>
        <form class="delete-post">
            <button type="submit" class="delete-post-button">Delete Video</button>
        </form>
    </div>
</li>