<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <title>Index | Learn Lineups</title>
        <link rel="stylesheet" href="../../public/css/style.css">
        <script defer src="../../public/js/showposts.js"></script>
    </head>
    <body>
        {{> headers}}
        {{> nav}}
        {{{body}}}
        {{> footer}}
    </body>
</html>
