<!DOCTYPE html>
<html lang="en">
<body>
    <main id="index-content">
        <!-- image of guy jumping: https://www.csgonades.com/blog/jumpthrow-bind -->
        <div id="jumping-container">
            <img id="jumping-image" src="../public/images/IMG_7440.PNG" alt="person jumping while holding smoke grenade in right hand while raised">
        </div>

        <p id="posts-count"></p>

        <div id="posts-grid">
            {{#each posts}}
                {{>card this}}
            {{/each}}
        </div>

    </main>

</body>
</html>