<!DOCTYPE html>
<html lang="en">
<!-- <head> -->
   <!-- <meta charset="UTF-8">
    <title>Index | Learn Lineups</title>
    <link rel="stylesheet" href="../public/css/style.css">
    <script defer src="../public/js/showposts.js"></script> deferred script -->
<!-- </head> -->
<body>
    <main id="index-content">
        <!--guy jumping: https://www.csgonades.com/blog/jumpthrow-bind -->
        <div id="jumping-container">
            <img id="jumping-image" src="../public/images/IMG_7440.PNG" alt="person jumping while holding smoke grenade in right hand while raised">
        </div>

        <p id="posts-count"></p>

        <div id="posts-grid">

        </div>

    </main>

</body>
</html>