<!DOCTYPE html>
<html lang="en">
    <body>
        <main id="login-content">
            <div id="login-page">
                <!-- Submission Section -->
                <form id="login-form" action="/users/login" method="POST" enctype="application/x-www-form-urlencoded">
                    <label for="log-username">Username:</label>
                    <input type="text" placeholder="Username" id="log-username" name="username">

                    <label for="log-pass">Password:</label>
                    <input type="password" placeholder="Password" id="log-pass" name="password">

                    <input type="submit">
                </form>

                <div id="login-container">
                    <img id="login-image" src="https://preview.redd.it/6fmtje0ghjz31.png?width=395&format=png&auto=webp&v=enabled&s=f5936ffb478d774a1e8303c1386fda55e783023f">
                </div>

            </div>
        </main>

    </body>
</html>