<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Post Video | WebApp</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <main>
            <div id="upload-container">
                <form id="upload-form"> <!-- Video Submission Form -->
                    <label for="upload-file">Submit Video: </label>
                    <input type="file" id="upload-file">

                    <label for="upload-title">Video Title: </label>
                    <input type="text" id="upload-title">

                    <label for="upload-desc">Video Description: </label>
                    <input type="text" id="upload-desc">

                    <div id="upload-checkbox"> <!-- used to format checkbox in webpage -->
                        <input type="checkbox" id="upload-tos">
                        <label for="upload-tos"><a href="">I accept the Terms of Service</a></label>
                    </div>
                    <input type="submit">
                </form> <!-- Video Submission Form END-->`
            </div>
        </main>
<!--        <div id="top-footer-image">-->
<!--            <img id="smoki" src="../images/smoki.png" alt="image of a smoke grenade with eyes and arms smiling while waving">-->
<!--        </div>-->

    </body>
</html>