<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile | WebApp</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <main>
        {{log this}}
        <div id="view-profile">
            <div id="profile-videos">
                <ul class="display-user-videos"> <!-- list of videos ordered by date -->
                    {{#each currentPosts}}
                        {{> userpost this}}
                    {{/each}}
                </ul> <!-- list of videos END -->
            </div>

            <div id="profile-text">
                <p class="display-username">{{user.username}}</p>
                <p class="display-email">{{user.email}}</p>
            </div>
        </div>
    </main>

<!--    <div id="top-footer-image">-->
<!--        <img id="smoki" src="../images/smoki.png" alt="image of a smoke grenade with eyes and arms smiling while waving">-->
<!--    </div>-->

</body>
</html>