<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile | WebApp</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <main>
        {{log this}}
        <div id="view-profile">
            <div id="profile-videos">
                <ul class="display-user-videos"> <!-- list of videos ordered by date -->
                    <li>
                        <!--<video class="user-video" src="https://youtu.be/oIwS357ljMA"></video> viewing own video may have different UI-->
                        <iframe class="profile-video" width="560" height="315" src="https://www.youtube.com/embed/oIwS357ljMA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </li>
                    <li>
                        <iframe class="profile-video" width="560" height="315" src="https://www.youtube.com/embed/oIwS357ljMA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </li>


                </ul> <!-- list of videos END -->
            </div>

            <div id="profile-text">
                <p class="display-username">{{user.username}}</p>
                <p class="display-email">{{user.email}}</p>
            </div>
        </div>
    </main>

<!--    <div id="top-footer-image">-->
<!--        <img id="smoki" src="../images/smoki.png" alt="image of a smoke grenade with eyes and arms smiling while waving">-->
<!--    </div>-->

</body>
</html>