<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ViewPost | WebApp</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <main>
        <!-- View Posts UI -->
        <div id="view-posts-ui">
            <h4 id="post-title">Placeholder Title</h4>

            <video>video placeholder</video>

            <h5 id="post-author">Username placeholder</h5>
            <p id="post-date">0/0/0</p>
            <p id="post-desc">Description placeholder</p>

            <!-- Comment Section -->
            <div id="comment-section">
                <p class="commenter">Placeholder commenter name</p>
                <p class="comment">placeholder comment</p>

            </div>
            <!-- Comment Section END -->

        </div>
        <!-- View Posts UI END-->
    </main>

<!--    <div id="top-footer-image">-->
<!--        <img id="smoki" src="../images/smoki.png" alt="image of a smoke grenade with eyes and arms smiling while waving">-->
<!--    </div>-->
</body>
</html>