html.custom-doc {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif !important; /*I like this font :)*/
}

/*video sources of:
 Mirage Cinematic: https://www.youtube.com/watch?v=dQMQeszoUNc&ab_channel=Zoovo
 American Flag Animation: https://www.youtube.com/watch?v=6bsVmCOGE7E&ab_channel=7MAX
 Smoke grenade: https://www.youtube.com/watch?v=k2DgKWf4ZN4&ab_channel=Meepception
    image: https://liquipedia.net/counterstrike/Smoke_Grenade
*/

.comment { /*individual comments*/
  margin-top: 1em;
  align-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-size: 1.0em;
  background-color: #2C3333;
}

#comment-box { /*for comment input*/
  padding-top: 3em;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#comment-section {
  margin-left: 10%;
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #2E4F4F;
  color: #CBE4DE;
}

#comment-button {
  width: 25%;
}

#video-section { /*video side of page*/
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

#view-posts-ui {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#comment-text {
  resize: none;
  width: 75%;
}

.video-container{
  align-self: center;
  width: 95%;
  height: auto;
}

.search-bar {
  width: 25em !important;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;

}

.search-form {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
}
.search-text {
  width: 80%;

}

.search-button {
  width: 25%;
  height: 2em;
}

#flash-message {
  position: absolute;
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
  z-index: 100000; /*keeps it at the front */

}

.alert {
  height: 3.5em !important;
  width: 25%;
}

body.custom-body {
  /*padding: 50px;*/
  background-color: #CBE4DE;
  padding-top: 5%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden; /*disables horizontal scroll*/
  width: 100%; /* changed in assignment3*/
  /*background-image: url("../images/webdevbackground.png");
  background-repeat: no-repeat;*/
}

ul, ol {
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

a {
  color: #0E8388;
  text-decoration: underline;
  /*color: #00B7FF;*/
}
#jumping-container {

  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}


.title {
  font: 2em "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.sub-title {
  font: 1.2em "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

#jumping-image {
  height: auto;
  width: 40%;
}

#top-footer-image {
  position: absolute;
  top: 80%;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
}


#smoki {
  position: absolute;
  width: auto;
  height: 10em;
}

footer {
  color: #CBE4DE;
  padding-top: 2em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  background-color: #2C3333;
  top: 100%;
  position: sticky;
  width: 100%;
  text-align: center;
}

footer > a {
  color: #CBE4DE;
}

.page-info {
  list-style: none;
  text-align: center;
}

#contact-info {
  margin-left: -2.5em;
  list-style: none;
}

#navigation-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #2E4F4F;
  /*box-sizing: unset !important;*/

}

#nav-options {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3em;

}

#nav-options > li {
  width: 8em;
  text-align: center;
  border-color: #CBE4DE;
  border-radius: 2em;
  background-color: #CBE4DE;
  padding: 1.3em;
}

#nav-options > li > a {
  color: #2C3333;
}

form {
  display: flex;
  flex-direction: column;

  /* moved to login-form
  justify-content: start;
  width: 50%;
  margin-left: 3em;*/
}
/* logout button formatting fixed for nav bar*/
#logout-button { /*button now looks like the anchor elements*/
  background-color: transparent;
  border: transparent;
  text-decoration: underline #2C3333;
  color: #2C3333;
  cursor: pointer;
/*
  width: 8em;
  text-align: center;
  border-color: #CBE4DE;
  border-radius: 2em;
  background-color: #CBE4DE;
  padding: 1.3em;*/
}

#logout-form {
  display: block !important;

}

/*adds background color to all inputs except file inputs*/
form > input[type]:not([type="file"]) {
  background-color: papayawhip;
  /*margin-top: 0.3em;
  width: 40%;
  height: 2em;*/
}

/*universal input styling*/
form > input {
  margin-top: 0.3em;
  width: 40%;
  height: 2em;
}

form > label {
  margin-top: 0.3em;
}

#login-form {
  align-items: end;
  margin-top: 3em;
  margin-right: 3em;
/*<<<<<<< HEAD
=======*/
  justify-content: start;
  width: 50%;
  margin-left: 3em;
/*>>>>>>> assignment3 */
}

#login-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: start;
}

#login-image {
  height: auto;
  width: 35%;

}

#login-page {
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
}

#upload-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#upload-form {
  width: 100%;
  align-items: center;
}

#upload-form > * {
  width: 25%;
  margin-top: 0.5em;
}

#reg-container {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
}

#reg-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: end;
}

#reg-image-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#reg-image {
  width: 40%;
  height: auto;
}

.reg-checkbox-container {
  width: 40%;
}

#view-profile {
  margin: 5em;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#profile-text {
  display: flex;
  flex-direction: column;
}

#profile-videos {
  display: flex;
  width: 50%;
  height: auto;

}

.profile-video {
  width: auto;
  height: 29%;
  padding-bottom: 1em;
}

.display-user-videos {
  background-color: #2E4F4F;
  width: 80%;
}

#posts-grid {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: auto;
  width: 100%;
  height: auto;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
}

/*
.card-div {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template:
    "card-template-img"
    "card-template-desc";
}

.card-desc {
  grid-area: card-template-desc;
}

.card-img {
  grid-area: card-template-img;
  width: 100%;
  height: auto;
}

*/

.card-div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: 100%;
  width: 100%;
  background-color: #0E8388;
  border-width: .2em;
  border-radius: .3em;
}

.card-desc {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

.card-img {
  justify-self: end;
  width: 100%;
  height: auto;
}

.card-title {
  align-self: start;
  padding: .2em; /*removes text being directly on card border*/
  width: 100%;
  height: 15%;
  color: #2C3333;
  font-size: 1.5em;
}

/*.card-url {
  height: 30%;
  width: 100%;
  background-color: red;
}*/